.cloud1 {width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/nhDGR1zw/Screenshot-2025-09-22-at-3-51-13-PM.png) lightgray 50% / cover no-repeat;}
.cloud3 {
   width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/nhDGR1zw/Screenshot-2025-09-22-at-3-51-13-PM.png) lightgray 50% / cover no-repeat;
}
.cloud2 {
    width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/DybGnwTS/Screenshot-2025-09-22-at-3-52-25-PM.png) lightgray 50% / cover no-repeat;
}

.cloud4 {
    width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/MGrRzMvj/Screenshot-2025-09-22-at-3-53-29-PM.png) lightgray 50% / cover no-repeat;
}
.cloud6 {
    width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/MGrRzMvj/Screenshot-2025-09-22-at-3-53-29-PM.png) lightgray 50% / cover no-repeat;
}
.cloud5 {
    width: 392px;
height: 140px;
flex-shrink: 0;
aspect-ratio: 14/5;
background: url(https://i.postimg.cc/D01bQx5q/Screenshot-2025-09-22-at-3-54-24-PM.png) lightgray 50% / cover no-repeat;
}

